@import "header/idiom-selector.css";

.content{
    display: flex;
    border: 1px solid black;
    background-color: greenyellow;
   
}
.full-content{
    width: 75%;
    height: auto;
    border:3px solid green;
}
.content-item{
    min-height: 200px;
}
