@import "header/idiom-selector.css";
@import "content/timeline.css";

.content{
    display: flex;
   
}
.full-content{
    flex: 1;
    height: auto;
    
}
.content-item{
    margin: 40px;
    min-height: 200px;
}
.content-item h1{
    font-size: 30px;
}