@import "header/idiom-selector.css";
@import "content/timeline.css";
@import "content/studies.css";
@import "content/idiom.css";
@import "content/knowledges.css";

.content{
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
}
.full-content{
    flex: 1;
    height: auto;
}
.content-item{
    margin: 40px;

    min-height: 200px;
    /* padding-top: 250px; */
}
.content-item h1{
    font-size: 45px;
    text-align: center;
}
.timeline h1{
    font-size: 30px;
}
.studies h1{
    font-size: 30px;
}
.knowledges h1{
    font-size: 30px;
}
.idioms h1{
    font-size: 30px;
}