.nav-container{
    width: 25%;
    height: auto;
    background-color: transparent;
    /* border: 2px solid lightcoral; */
    
}

.nav{ 
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: transparent;
    
}
.nav-header{
    display: flex;
   /*  border:1px solid black; */
    height:50px;
}
.nav-header-title{
    width: 50%;
}
.nav-header-close{
    width: 50%;
    text-align: right;
}
.nav-header-close i{
    font-size: 50px;
}
.menu{
    width: 100%;
    height: 450px;
    /* border: 2px solid red; */
    overflow: scroll;
}
.menu-items{
    list-style: none;
    margin: 20px;
}
.menu-items li{
    margin:10px;
    padding: 25px;
    border: 4px solid black;
    border-radius: 15px;
}