@import "nav/menu.css"; 

.nav{
    position: static;
    width: 30%;
    height: auto;
    /* background-color: white; */
    transition: ease 0.5s;
    /* border: 1px solid orange; */
    overflow: hidden;
    box-shadow: 3px 0 5px -2px #888;
}
.nav-container{ 
   
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /* border:5px solid greeN; */
}

