@import "nav/menu.css"; 

.nav-container{
    width: 23%;
    height: auto;
    background-color: white;
    transition: ease 1s;
}
.nav{ 
    position: fixed;
    width: 23%;
    height: 100%;
    transition: ease 1s;
}
