@media (max-width: 700px){
    
    .content-item{
        margin: 0;
    }
    .line{
        left: 0;
    }
    .content-item h1{
        font-size: 30px;
    }
    .timeline h1{
        font-size: 20px;
    }
    .studies h1{
        font-size: 20px;
    }
    .knowledges h1{
        font-size: 20px;
    }
    .idioms h1{
        font-size: 20px;
    }
    
    
}
@media (max-width: 620px){
    .study-item{
        margin: 0 auto;
    }
    .knowledge-item{
        margin: 0 auto;
    }
    
    .timeline-item-left{
        left:0 !important;
    }
    .timeline-even-item-left{
        left:0 !important;
    }
}
@media (max-width:800px){
    .timeline-item{
        margin:0 auto !important;
    }
}
