@import "css/header.css";
@import "css/content.css";
@import "css/nav.css";
@import "css/footer.css";
/* Media Queries */
@import "css/media-queries/header/media-query-header.css";
@import "css/media-queries/nav/media-query-nav.css";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Teko', sans-serif;
}


/* Generic Properties */
.close{
    width: 0;
}
.open{
    width: 100%;
}
.show{
    display: block;
}
.hide{
    display: none;
}











