@import "css/media-query/idiom-selector-movile-devices.css";
@import "css/header.css";
@import "css/content.css";
@import "css/nav.css";
@import "css/footer.css";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Teko', sans-serif;
}
div{
    
}









