.download{
    width: 10%;
}
.download-formats{
    padding: 5px;
    padding-top: 30px;
    list-style: none;
}
.download-format-item{
    padding:2px;
    width: 100%;
    height: 50px; 
    border-radius: 10px;
}
.pdf-container{
    display: flex;
    border-radius: 10px;
    border: 2px solid lightgray;
}
.word-container{
    display: flex;
    border-radius: 10px;
    border: 2px solid lightgray;
}
.pdf-container:hover{
    cursor: pointer;
    background-color: lightgray;
}
.word-container:hover{
    cursor: pointer;
    background-color: lightgray;
}
.download-icon{
    padding: 5px;
}
.download-type{
    padding: 10px;
}