.download{
    margin: 0 auto;
    width: 100%;
    max-width: 175px;
    height: 50px;
    
}
#downloadSelectorButton i{
    font-size: 30px;
}
.download-hover-selector{
    position: relative;
    display: none;
    /* width: 150px; */
}

.download:hover .download-hover-selector{
    display: block;
    cursor: pointer;
}
.download-options{
    border: 1px solid lightgray;
    /* border-radius: 10px; */
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.download-option{
    padding: 10px;
}
.download-option:hover{
    background-color: lightgray;
}

/* CSS properties for movile divices selector */
#downloadSelector{
    
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
    padding: 10px;

}

#downloadSelector .download-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid blue; */
    background-color: white;
    padding: 15px;
}

.download-close{
    width: 100%;
    height: 50px;
}
.download-close i{
    font-size: 50px;
    float: right;
    cursor: pointer;
}

.download-close i:hover{
    color: rgba(0, 0, 0, 0.5);
}

.download-item{
    width: 100%;
    height: 55px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.download-item:hover{
    background-color: lightgray;

}
.download-item-title{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.download-container-icon-text{
    margin: 0 auto;
    width: 100%;
    /* max-width: 150px; */
    display: flex;
    border: 1px solid lightgray;
    /* border-radius: 5px; */
    cursor: pointer;
    padding: 9px;
    text-align: center;
    height:45px;
    /* border:1px solid black; */
    
    
}
.download-container-icon-text p{
    width:100%;
    text-align: center;
    padding: 5px;
    /* margin: 5px; */
}