/*---- CSS Properties For Idiom Header Button ----*/
.idiom-selector{
    width: 100%;
    height: 100%;
    max-width: 110px;
    margin: 0 auto;
    
}
.idiom-selected{
    border:3px solid lightgray;
    border-radius: 5px;
    display: flex;
    padding: 5px;
}

.idiom-flag{
    width:40px;
    height: 25px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 2px;
}
.idiom-flag img{
    width: 100%;
    height: 100%;
}
.idiom-text{
    margin: 0 auto;
    font-size: 10px;
    padding: 5px;
}

/* CSS Properties For Idiom Hover Selector */

.idiom-hover-selector{
    position: relative;
    /* top: 20px; */
    left: -20px;
    display: none;
    /* border: 1px solid green; */
    text-align: center;
    width: 150px;
    /* background-color: white; */
    height: auto;
    
}
.idiom-hover-conector{
    /* position: absolute;
    top:-20px; */
    /* border: 1px solid blue; */
    width: 100%;
    height: 15px;
    
    
}
.conector-triangle{
    position: relative;
    top:-15px;
    margin: 0 auto;
    width: 30px;
    height: 100%;

    /* background-color: white; */
    border-top: 15px solid transparent; 
    border-left:15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid lightgray; 
   
}
.idiom-selector:hover .idiom-hover-selector{
    display: block;
    cursor: pointer;
}
.idiom-options{
    /* position: relative;
    top:-15px; */
    border: 3px solid lightgray;
    border-radius: 10px;
    width: 100%;
}
.idiom-option{
    display: flex;
    padding: 10px;
}
.idiom-option:hover{
    background-color: lightgray;
}


/*---- CSS Properties For Idiom Selector ----*/
#idiomSelector{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
}
#idiomSelector .idiom-selector{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 10px;
}
#idiomSelector .idiom-selector .idiom-container{
    
    width: 100%;    
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
#idiomSelector .idiom-selector .idiom-container .idiom-item{
    
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    

}
#idiomSelector .idiom-selector .idiom-container .idiom-item:hover{
    background-color: lightgray;
    cursor: pointer;
}
#idiomSelector .idiom-selector .idiom-container .idiom-flag{
    width:60px;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;
}
#idiomSelector .idiom-selector .idiom-container .idiom-flag img{
    width: 100%;
    height: 100%;
}
#idiomSelector .idiom-selector .idiom-container .idiom-text{
    width: 100%;
    
}
.idiom-close{
    width: 100%;
    text-align: right;
}
#closeIdiomSelector{
    font-size: 50px;
}
#closeIdiomSelector:hover{
    cursor: pointer;
}

