.profile-container{
    display: flex;
    width: 80%;
    /* border: 1px solid black; */
}
.profile-photo{
    margin:10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    /* border: 1px solid black; */
}
.profile-information-list{
    list-style: none;
}
.profile-photo img{
    width: 100%;
    height: 100%;
}
.profile-title{
    margin: 5px;
}
.profile-title h1{
    font-size: 45px;
}
