.profile-container{
    display: flex;
    margin: 0 auto;
    max-width: 1500px;
    width:100%;
    height: auto;
}
.profile-photo{
    padding: 5px;
    width: 175px;
    height: 175px;
}
.profile-photo img{
    width: 100%;
    height: 100%;
}
.profile-title h1{
    font-size: 45px;
}
.nav-item{
    flex: 1;
    text-align: center;
}
.nav-item i{
    font-size: 45px;
}
/* .nav-item:hover i{
    color: rgba(0,0,0,0.5);
} */
.profile-data{
    padding: 10px;
}
.profile-information{
    display: block;
}
.profile-information-list{
    list-style: none;
}


#personalDataImage{
    
}

#personalData{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    
}
.personal-data{
    margin: 0 auto;

    width: 100%;
    height: 100%;
}
.personal-data-container{
    display: flex;
}