@media (max-width: 700px){
    
    .profile-photo{
        width: 60px;
        height: 60px;
        
    }
    .profile-title h1{
        font-size: 25px;
    }
    
    .profile-information{
        display: none;
    }
    .nav-item{
        padding: 5px;
    }    
    .nav-item i{
        font-size:35px;
    }
    
    .spacer-header{
        height: 110px;
    }


    /* disapear hover selectors */
    .idiom-selector:hover .idiom-hover-selector{
        display: none;
    }

    .download:hover .download-hover-selector{
        display: none;
    }


}

@media (max-width: 340px){
    .spacer-header{
        height: 129px;
    }
}