.menu{
    width: auto;
    height: 100%;
    /* border: 2px solid red; */
    background-color: white;
    padding-top:10px ;
}
.menu-container{
    position: fixed; 
    width: 30%;
    height:550px;
    transition: ease 0.5s;
    /* border: 3px solid blue; */
    overflow: auto;
}
.menu-items{
    list-style: none;
    margin: 20px;
}
.menu-items li{
    margin:20px;
    padding: 5px;
    /* border: 2px solid lightgray;
    border-radius: 15px; */
}
.menu-item{
    display: flex;
    border: 1px solid lightgray;
}
.menu-item:hover{
    cursor: pointer;
    background-color: lightgray;
}

.menu-item-icon{
    cursor:pointer;
}
.menu-item-icon i{
    font-size: 30px;
    padding: 5px;
    border-radius: 25px;
}

.menu-item-text{
    padding: 12px;
}
.menu-item:hover .menu-item-icon i{
    background-color: lightgray;
}
.menu-item:hover .menu-item-text p{
    cursor: pointer;
    text-decoration: underline;
}