.knowledges{
    margin: 0 auto;
    width:100%;
    max-width: 1200px;
    /* border: 1px solid black; */
    padding: 10px;
}
.knowledge-container{
    margin:0 auto;
    width: auto;
    max-width: 930px;
    min-width: 330px;
    display: flex;
    flex-wrap:wrap ;
    /* border: 1px solid blue; */
    padding: 10px;
    text-align: center;
}
.knowledge-item{
    /* border: 1px solid black; */
    width: 300px;
    padding: 15px;
    transition: 0.5s;
}
.knowledge-item:hover{
    cursor:pointer;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
    transform: translateY(-10px);
}
.knowledge-item-container{
    width: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3); */
    height: 350px;
    border: 1px solid lightgray;
}
.knowledge-programming-tools{
    padding: 10px;
}
.porcentage-title{
    text-align: left;
}
.porcentage-line{
    
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    background-color: rgba(0, 0, 0, 0.2)
}
.porcentage-line-loading{
    /* float: left; */
    width: 0%;
    height: 100%;
    background-color: rgba(255, 204, 0, 0.7);
    transition: 1s;
}
.porcentage-loading-number{
    float: left;
    padding: 5px;
    text-align: center;
    height: 100%;
    /* border:1px solid black; */
    width: 100%;
}

/* Porcentage circle */


.knowledge-item-level{
    /* display: block; */
    margin:0 auto;
    width: 80px;
    height: 80px;
    padding: 0;
    /* border:1px solid black; */
}

.knowledge-porcentage-circle circle{
   /*  width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px; */
    fill:none;
    stroke-width: 15;
    transform: translate(10px, 10px);
    border:1px solid black;
    /*  
    width: 100%;
    height: 100%;
    fill:none;
    stroke-width: 15; 
   */
}

.knowledge-porcentage{
    position: relative;
    top: 50px;
}

.knowledge-porcentage-circle circle:nth-child(1){
    stroke-dasharray: 3 4;
}
.knowledge-porcentage-circle circle:nth-child(2){
    stroke:white;
    stroke-dasharray: 440;
    stroke-dashoffset: 880px;
    transition: 3s;
}
.knowledge-porcentage-circle circle:nth-child(3){
    stroke:rgba(0,0,0,0.3); 
    stroke-dasharray: 3 4;
}


@keyframes counter{

    /* 
    
        0% { margin-top: 0px; }
        9% { margin-top: 0px; }
        10% { margin-top: -20px; }
        19% { margin-top: -20px; }
        20% { margin-top: -40px; }
        29% { margin-top: -40px; }
        30% { margin-top: -60px; }
        39% { margin-top: -60px; }
        40% { margin-top: -80px; }
        49% { margin-top: -80px; }
        50% { margin-top: -100px; }
        59% { margin-top: -100px; }
        60% { margin-top: -120px; }
        69% { margin-top: -120px; }
        70% { margin-top: -140px; }
        79% { margin-top: -140px; }
        80% { margin-top: -160px; }
        89% { margin-top: -160px; }
        90% { margin-top: -180px; }
        99% { margin-top: -180px; }
        100% { margin-top: -200px; } 
    
    */

}